## Welcome to the project by Team C. 
We are glad to present our analysis below. The notebook is split in two major parts: data pulling and data processing. In data pulling we are gathering data from the World Bank Data site API. In the data processing part we develop analysis based on the data from the previous part. We believe that we performed strong analysis in this project and are proud of it. We hope you enjoy it too. 

With pleasure, 
Sam, Douglas, Mariano and Ilya

## Part 1: Data Proccesing

In [1]:
!mkdir data_project

In [2]:
%matplotlib inline

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

# Make the graphs a bit prettier, and bigger
matplotlib.style.use(['seaborn-talk', 'seaborn-ticks', 'seaborn-whitegrid'])
plt.rcParams['figure.figsize'] = (15, 5)

In [3]:
#import SQLfrom sqlalchemy import create_engine
!sudo -H pip3 install -U sqlalchemy

Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/b4/9c/411a9bac1a471bed54ec447dc183aeed12a75c1b648307e18b56e3829363/SQLAlchemy-1.2.8.tar.gz (5.6MB)
    100% |████████████████████████████████| 5.6MB 256kB/s eta 0:00:01    95% |██████████████████████████████▌ | 5.3MB 43.8MB/s eta 0:00:01
Building wheels for collected packages: sqlalchemy
  Running setup.py bdist_wheel for sqlalchemy ... done
  Stored in directory: /root/.cache/pip/wheels/df/fc/61/df2f43ec3f11f864554bdc006a866a3ffffa59740bcf3674ef
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Found existing installation: SQLAlchemy 1.2.2
    Uninstalling SQLAlchemy-1.2.2:
      Successfully uninstalled SQLAlchemy-1.2.2
Successfully installed sqlalchemy-1.2.8
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
from sqlalchemy import create_engine

In [5]:
#Below is all the code for getting the data from world bank from mutliple countries (you will see which ones). 
#Please come up with some queries to run on the data below. 
#DON'T CHANGE ANYTHING BELOW< JUST ADD AFTERWARD

Now we download the zip files from online

In [6]:
!curl -L 'http://api.worldbank.org/v2/en/country/USA?downloadformat=csv' -o USA.zip
!curl -L 'http://api.worldbank.org/v2/en/country/DEU?downloadformat=csv' -o DEU.zip
!curl -L 'http://api.worldbank.org/v2/en/country/ARG?downloadformat=csv' -o ARG.zip
!curl -L 'http://api.worldbank.org/v2/en/country/BTN?downloadformat=csv' -o BTN.zip
!curl -L 'http://api.worldbank.org/v2/en/country/RUS?downloadformat=csv' -o RUS.zip
!curl -L 'http://api.worldbank.org/v2/en/country/CHN?downloadformat=csv' -o CHN.zip
!curl -L 'http://api.worldbank.org/v2/en/country/JPN?downloadformat=csv' -o JPN.zip
!curl -L 'http://api.worldbank.org/v2/en/country/GHA?downloadformat=csv' -o GHA.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  370k  100  370k    0     0   497k      0 --:--:-- --:--:-- --:--:--  497k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  378k  100  378k    0     0   681k      0 --:--:-- --:--:-- --:--:--  681k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  432k  100  432k    0     0   839k      0 --:--:-- --:--:-- --:--:--  840k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  321k  100  321k    0     0   637k      0 --:--:-- --:--:-- --:--:--  637k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  335k  100  335k    0     0   687k      0 --:--:-- --:--:-- --:--:--  686k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  386k  100  386k    0     0   721k      0 --:--:-- --:--:-- --:--:--  721k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  390k  100  390k    0     0   822k      0 --:--:-- --:--:-- --:--:--  821k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  390k  100  390k    0     0   787k      0 --:--:-- --:--:-- --:--:--  788k

Now we are changing each country into a dataframe.

Below is importing the data from one country into a dataframe 

Update - 6_6_18 - Files from World Bank have changed, including name of the file within the zip, as well as features included. This extends to the rest of the project, but the functions work.

In [11]:
import zipfile
import pandas as pd
with zipfile.ZipFile("CHN.zip") as z2:
    with z2.open("API_CHN_DS2_en_csv_v2.csv") as f2:
        df_CHN = pd.read_csv(f2, header=0, delimiter=",", skiprows=4)
        df_CHN = df_CHN.T
        df_CHN.columns = df_CHN.iloc[2]
        df_CHN = df_CHN.iloc[4:]
        df_CHN = df_CHN[['GDP (current US$)','CO2 emissions (metric tons per capita)','Population, total','Life expectancy at birth, total (years)','GNI (current US$)','Time required to start a business (days)','School enrollment, primary (% gross)','Foreign direct investment, net inflows (BoP, current US$)','Improved sanitation facilities (% of population with access)']]
        renaming_dict = { 
            'GDP (current US$)': 'GDP', 
            'CO2 emissions (metric tons per capita)': 'CO2_emissions', 
            'Population, total': 'Population_total',
            'Life expectancy at birth, total (years)': 'Life_expectancy',
            'GNI (current US$)': 'GNI',
            'Time required to start a business (days)': 'Time_required_to_start_a_business',
            'School enrollment, primary (% gross)': 'School_enrollment',
            'Foreign direct investment, net inflows (BoP, current US$)': 'Net_Foreign_Direct_Investment',
            'Improved sanitation facilities (% of population with access)': 'Improved_Sanitation_Facilities'
        }
        df_CHN.rename(columns=renaming_dict, inplace=True)
        df_CHN = df_CHN.drop(['Unnamed: 62'])
        df_CHN['Year']=df_CHN.index
        
        df_CHN.reset_index(drop=True,inplace=True)
        df_CHN['Country_Name']='China'
        
        #df_CHN = df_CHN.set_index('Year')
        #df_CHN.rename(columns={'Indicator Name': 'A'})
df_CHN

Indicator Name,GDP,CO2_emissions,Population_total,Life_expectancy,GNI,Time_required_to_start_a_business,School_enrollment,Net_Foreign_Direct_Investment,Year,Country_Name
0,5.97165e+10,1.17038,6.6707e+08,43.725,5.97165e+10,NaN,NaN,NaN,1960,China
1,5.00569e+10,0.836047,6.6033e+08,44.051,5.00569e+10,NaN,NaN,NaN,1961,China
2,4.72094e+10,0.661428,6.6577e+08,44.783,4.72094e+10,NaN,NaN,NaN,1962,China
3,5.07068e+10,0.640002,6.82335e+08,45.972,5.07068e+10,NaN,NaN,NaN,1963,China
4,5.97083e+10,0.625646,6.98355e+08,47.592,5.97083e+10,NaN,NaN,NaN,1964,China
5,7.04363e+10,0.665524,7.15185e+08,49.549,7.04363e+10,NaN,NaN,NaN,1965,China
6,7.67203e+10,0.710891,7.354e+08,51.696,7.67203e+10,NaN,NaN,NaN,1966,China
7,7.28816e+10,0.574162,7.5455e+08,53.847,7.28816e+10,NaN,NaN,NaN,1967,China
8,7.08465e+10,0.605452,7.7451e+08,55.843,7.08465e+10,NaN,NaN,NaN,1968,China
9,7.97059e+10,0.72515,7.96025e+08,57.603,7.97059e+10,NaN,NaN,NaN,1969,China
10,9.2603e+10,0.942935,8.18315e+08,59.085,9.2603e+10,NaN,107.593,NaN,1970,China
11,9.9801e+10,1.04224,8.41105e+08,60.303,9.9801e+10,NaN,106.221,NaN,1971,China
12,1.13688e+11,1.08068,8.6203e+08,61.344,1.13688e+11,NaN,107.365,NaN,1972,China
13,1.38544e+11,1.0982,8.8194e+08,62.281,1.38544e+11,NaN,114.409,NaN,1973,China
14,1.44182e+11,1.09737,9.0035e+08,63.134,1.44182e+11,NaN,118.156,NaN,1974,China
15,1.63432e+11,1.25012,9.16395e+08,63.915,1.63432e+11,NaN,120.912,NaN,1975,China
16,1.5394e+11,1.28528,9.30685e+08,64.631,1.5394e+11,NaN,121.58,NaN,1976,China
17,1.74938e+11,1.38884,9.43455e+08,65.278,1.74938e+11,NaN,117.052,NaN,1977,China
18,1.49541e+11,1.5292,9.56165e+08,65.857,1.49541e+11,NaN,111.565,NaN,1978,China
19,1.78281e+11,1.54268,9.69005e+08,66.377,1.78281e+11,NaN,110.546,NaN,1979,China
20,1.91149e+11,1.49525,9.81235e+08,66.843,1.91149e+11,NaN,111.33,NaN,1980,China
21,1.95866e+11,1.46043,9.93885e+08,67.256,1.95783e+11,NaN,113.044,NaN,1981,China
22,2.0509e+11,1.56674,1.00863e+09,67.618,2.05361e+11,NaN,112.851,4.3e+08,1982,China
23,2.30687e+11,1.62906,1.02331e+09,67.933,2.31563e+11,NaN,113.021,6.36e+08,1983,China
24,2.59947e+11,1.75045,1.03682e+09,68.21,2.61221e+11,NaN,113.876,1.258e+09,1984,China
25,3.09488e+11,1.87105,1.05104e+09,68.451,3.10328e+11,NaN,118.963,1.659e+09,1985,China
26,3.00758e+11,1.93943,1.06679e+09,68.661,3.00735e+11,NaN,123.533,1.875e+09,1986,China
27,2.72973e+11,2.03841,1.08404e+09,68.842,2.72794e+11,NaN,127.909,2.314e+09,1987,China
28,3.12354e+11,2.15091,1.10163e+09,69.002,3.1223e+11,NaN,129.366,3.194e+09,1988,China
29,3.47768e+11,2.15308,1.11865e+09,69.15,3.47943e+11,NaN,129.087,3.393e+09,1989,China
30,3.60858e+11,2.15157,1.13518e+09,69.293,3.61823e+11,NaN,127.428,3.487e+09,1990,China
31,3.83373e+11,2.22944,1.15078e+09,69.437,3.84152e+11,NaN,123.576,4.366e+09,1991,China
32,4.26916e+11,2.30946,1.16497e+09,69.587,4.2713e+11,NaN,120.31,1.1156e+10,1992,China
33,4.44731e+11,2.4428,1.17844e+09,69.75,4.43809e+11,NaN,116.698,2.7515e+10,1993,China
34,5.64325e+11,2.56599,1.19184e+09,69.935,5.63289e+11,NaN,113.359,3.3787e+10,1994,China
35,7.34548e+11,2.75575,1.20486e+09,70.156,7.22773e+11,NaN,110.553,3.58492e+10,1995,China
36,8.63747e+11,2.84431,1.21755e+09,70.427,8.5131e+11,NaN,107.354,4.018e+10,1996,China
37,9.61604e+11,2.82057,1.23008e+09,70.747,9.506e+11,NaN,105.256,4.4237e+10,1997,China
38,1.02904e+12,2.67675,1.24194e+09,71.115,1.0124e+12,NaN,105.619,4.3751e+10,1998,China
39,1.094e+12,2.64865,1.25274e+09,71.521,1.07953e+12,NaN,NaN,3.8753e+10,1999,China
40,1.21135e+12,2.69686,1.26264e+09,71.955,1.19668e+12,NaN,NaN,4.20953e+10,2000,China
41,1.3394e+12,2.74212,1.27185e+09,72.401,1.32022e+12,NaN,110.276,4.7053e+10,2001,China
42,1.47055e+12,3.00708,1.2804e+09,72.84,1.4556e+12,NaN,114.662,5.30736e+10,2002,China
43,1.66029e+12,3.52407,1.2884e+09,73.257,1.65007e+12,NaN,118.948,5.79009e+10,2003,China
44,1.95535e+12,4.03799,1.29608e+09,73.642,1.95022e+12,NaN,NaN,6.81173e+10,2004,China
45,2.28597e+12,4.52318,1.30372e+09,73.987,2.26986e+12,NaN,NaN,1.04109e+11,2005,China
46,2.75213e+12,4.98031,1.31102e+09,74.291,2.74699e+12,NaN,105.474,1.24082e+11,2006,China
47,3.55218e+12,5.33491,1.31788e+09,74.562,3.56022e+12,NaN,107.894,1.56249e+11,2007,China
48,4.59821e+12,5.70192,1.32466e+09,74.808,4.62677e+12,NaN,109.654,1.71535e+11,2008,China
49,5.10995e+12,6.0101,1.33126e+09,75.032,5.10142e+12,NaN,109.362,1.31057e+11,2009,China
50,6.10062e+12,6.56052,1.33770e+09,75.236,6.07455e+12,NaN,107.457,2.43703e+11,2010,China
51,7.57255e+12,7.24152,1.34413e+09,75.425,7.50218e+12,NaN,105.907,2.80072e+11,2011,China
52,8.56055e+12,7.42475,1.3507e+09,75.602,8.54073e+12,NaN,105.234,2.41214e+11,2012,China
53,9.60722e+12,7.55721,1.35738e+09,75.769,9.5294e+12,32.4,103.876,2.90928e+11,2013,China
54,1.04824e+13,7.54391,1.36427e+09,75.932,1.04957e+13,29.4,99.2028,2.68097e+11,2014,China
55,1.10647e+13,NaN,1.37122e+09,76.092,1.10229e+13,29.4,99.3332,2.42489e+11,2015,China
56,1.11991e+13,NaN,1.37866e+09,76.252,1.11542e+13,26.9,100.854,1.7475e+11,2016,China
57,NaN,NaN,NaN,NaN,NaN,22.9,NaN,NaN,2017,China

Below is first checking the current datatype, then we change each column into the correct datatype, then recheck that 
the datatypes are correctly changed

In [ ]:
df_CHN.dtypes

In [ ]:
df_CHN["GDP"] = pd.to_numeric(df_CHN["GDP"])
df_CHN["CO2_emissions"] = pd.to_numeric(df_CHN["CO2_emissions"])
df_CHN["Population_total"] = pd.to_numeric(df_CHN["Population_total"])
df_CHN["Life_expectancy"] = pd.to_numeric(df_CHN["Life_expectancy"])
df_CHN["GNI"] = pd.to_numeric(df_CHN["GNI"])
df_CHN["Time_required_to_start_a_business"] = pd.to_numeric(df_CHN["Time_required_to_start_a_business"])
df_CHN["School_enrollment"] = pd.to_numeric(df_CHN["School_enrollment"])
df_CHN["Net_Foreign_Direct_Investment"] = pd.to_numeric(df_CHN["Net_Foreign_Direct_Investment"])
df_CHN["Improved_Sanitation_Facilities"] = pd.to_numeric(df_CHN["Improved_Sanitation_Facilities"])
df_CHN['Year'] = pd.to_datetime(df_CHN['Year'], format='%Y')
df_CHN['Country_Name'] = pd.Categorical(df_CHN['Country_Name'])
#df_CHN[df_CHN.columns] = df_CHN[df_CHN.columns].apply(pd.to_numeric, errors='coerce')

In [ ]:
df_CHN.dtypes

Below is setting up a database - THERE ARE ERROS, DISREGARD.

In [ ]:
conn_string = 'mysql://{user}:{password}@{host}:{port}/'.format(
    user='root', password='dwdstudent2015', 
    host = 'localhost', port=3306)
engine = create_engine(conn_string)

In [ ]:
engine.execute('CREATE DATABASE IF NOT EXISTS WorldBank')
engine.execute('USE WorldBank')

Below is making the dataframe into a SQL table for the country

In [ ]:
engine.execute('DROP TABLE IF EXISTS China')

You are about to get a big error. Disregard. But if you did it right, it should be an error that says:
'NoneType' object has no attribute 'replace'

In [ ]:
df_CHN.to_sql('China', engine, if_exists ='replace')

Below is a check we utilize for each table (pulling first 100 rows).

In [ ]:
CHN_check = pd.read_sql("SELECT * FROM China LIMIT 100", con=engine)
CHN_check

All the other data pulling parts for each country is following the same format.

In [ ]:
#Ghana
import zipfile
import pandas as pd
with zipfile.ZipFile("GHA.zip") as z2:
    with z2.open("API_GHA_DS2_en_csv_v2.csv") as f2:
        df_GHA = pd.read_csv(f2, header=0, delimiter=",", skiprows=4)
        df_GHA = df_GHA.T
        df_GHA.columns = df_GHA.iloc[2]
        df_GHA = df_GHA.iloc[4:]
        df_GHA = df_GHA[['GDP (current US$)','CO2 emissions (metric tons per capita)','Population, total','Life expectancy at birth, total (years)','GNI (current US$)','Time required to start a business (days)','School enrollment, primary (% gross)','Foreign direct investment, net inflows (BoP, current US$)','Improved sanitation facilities (% of population with access)']]
        renaming_dict = { 
            'GDP (current US$)': 'GDP', 
            'CO2 emissions (metric tons per capita)': 'CO2_emissions', 
            'Population, total': 'Population_total',
            'Life expectancy at birth, total (years)': 'Life_expectancy',
            'GNI (current US$)': 'GNI',
            'Time required to start a business (days)': 'Time_required_to_start_a_business',
            'School enrollment, primary (% gross)': 'School_enrollment',
            'Foreign direct investment, net inflows (BoP, current US$)': 'Net_Foreign_Direct_Investment',
            'Improved sanitation facilities (% of population with access)': 'Improved_Sanitation_Facilities'
        }
        df_GHA.rename(columns=renaming_dict, inplace=True)
        df_GHA = df_GHA.drop(['Unnamed: 62'])
        df_GHA['Year']=df_GHA.index
        df_GHA['Country_Name']='Ghana'
        
        df_GHA.reset_index(drop=True,inplace=True)
        #df_CHN = df_CHN.set_index('Year')
        #df_CHN.rename(columns={'Indicator Name': 'A'})
df_GHA

In [ ]:
df_GHA.dtypes

In [ ]:

df_GHA["GDP"] = pd.to_numeric(df_GHA["GDP"])
df_GHA["CO2_emissions"] = pd.to_numeric(df_GHA["CO2_emissions"])
df_GHA["Population_total"] = pd.to_numeric(df_GHA["Population_total"])
df_GHA["Life_expectancy"] = pd.to_numeric(df_GHA["Life_expectancy"])
df_GHA["GNI"] = pd.to_numeric(df_GHA["GNI"])
df_GHA["Time_required_to_start_a_business"] = pd.to_numeric(df_GHA["Time_required_to_start_a_business"]) 
df_GHA["School_enrollment"] = pd.to_numeric(df_GHA["School_enrollment"])
df_GHA["Net_Foreign_Direct_Investment"] = pd.to_numeric(df_GHA["Net_Foreign_Direct_Investment"])
df_GHA["Improved_Sanitation_Facilities"] = pd.to_numeric(df_GHA["Improved_Sanitation_Facilities"])
df_GHA['Year'] = pd.to_datetime(df_GHA['Year'], format='%Y')
df_GHA['Country_Name'] = pd.Categorical(df_GHA['Country_Name'])

In [ ]:
df_GHA.dtypes

In [ ]:
conn_string = 'mysql://{user}:{password}@{host}:{port}/'.format(
    user='root', password='dwdstudent2015', 
    host = 'localhost', port=3306)
engine = create_engine(conn_string)

In [ ]:
engine.execute('CREATE DATABASE IF NOT EXISTS WorldBank')
engine.execute('USE WorldBank')

In [ ]:

engine.execute('DROP TABLE IF EXISTS Ghana')

In [ ]:
df_GHA.to_sql('Ghana', engine, if_exists ='replace')

In [ ]:
GHA_check = pd.read_sql("SELECT * FROM Ghana LIMIT 100", con=engine)

In [ ]:
GHA_check

In [ ]:
import zipfile
import pandas as pd
with zipfile.ZipFile("USA.zip") as z2:
    with z2.open("API_USA_DS2_en_csv_v2.csv") as f2:
        df_USA = pd.read_csv(f2, header=0, delimiter=",", skiprows=4)
        df_USA = df_USA.T
        df_USA.columns = df_USA.iloc[2]
        df_USA = df_USA.iloc[4:]
        df_USA = df_USA[['GDP (current US$)','CO2 emissions (metric tons per capita)','Population, total','Life expectancy at birth, total (years)','GNI (current US$)','Time required to start a business (days)','School enrollment, primary (% gross)','Foreign direct investment, net inflows (BoP, current US$)','Improved sanitation facilities (% of population with access)']]
        renaming_dict = { 
            'GDP (current US$)': 'GDP', 
            'CO2 emissions (metric tons per capita)': 'CO2_emissions', 
            'Population, total': 'Population_total',
            'Life expectancy at birth, total (years)': 'Life_expectancy',
            'GNI (current US$)': 'GNI',
            'Time required to start a business (days)': 'Time_required_to_start_a_business',
            'School enrollment, primary (% gross)': 'School_enrollment',
            'Foreign direct investment, net inflows (BoP, current US$)': 'Net_Foreign_Direct_Investment',
            'Improved sanitation facilities (% of population with access)': 'Improved_Sanitation_Facilities'
        }
        df_USA.rename(columns=renaming_dict, inplace=True)
        df_USA = df_USA.drop(['Unnamed: 62'])
        df_USA['Year']=df_USA.index
        
        df_USA.reset_index(drop=True,inplace=True)
        df_USA['Country_Name']='USA'
        #df_CHN = df_CHN.set_index('Year')
        #df_CHN.rename(columns={'Indicator Name': 'A'})
df_USA

In [ ]:
df_USA.dtypes

In [ ]:
df_USA["GDP"] = pd.to_numeric(df_USA["GDP"])
df_USA["CO2_emissions"] = pd.to_numeric(df_USA["CO2_emissions"])
df_USA["Population_total"] = pd.to_numeric(df_USA["Population_total"])
df_USA["Life_expectancy"] = pd.to_numeric(df_USA["Life_expectancy"])
df_USA["GNI"] = pd.to_numeric(df_USA["GNI"])
df_USA["Time_required_to_start_a_business"] = pd.to_numeric(df_USA["Time_required_to_start_a_business"])
df_USA["School_enrollment"] = pd.to_numeric(df_USA["School_enrollment"])
df_USA["Net_Foreign_Direct_Investment"] = pd.to_numeric(df_USA["Net_Foreign_Direct_Investment"])
df_USA["Improved_Sanitation_Facilities"] = pd.to_numeric(df_USA["Improved_Sanitation_Facilities"])
df_USA['Year'] = pd.to_datetime(df_USA['Year'], format='%Y')
df_USA['Country_Name'] = pd.Categorical(df_USA['Country_Name'])
#df_CHN[df_CHN.columns] = df_CHN[df_CHN.columns].apply(pd.to_numeric, errors='coerce')

In [ ]:
df_USA.dtypes

In [ ]:
engine.execute('DROP TABLE IF EXISTS USA')

In [ ]:
df_USA.to_sql('USA', engine, if_exists ='replace')

In [ ]:
USA_check = pd.read_sql("SELECT * FROM USA LIMIT 100", con=engine)
USA_check

In [ ]:
import zipfile
import pandas as pd
with zipfile.ZipFile("DEU.zip") as z2:
    with z2.open("API_DEU_DS2_en_csv_v2.csv") as f2:
        df_DEU = pd.read_csv(f2, header=0, delimiter=",", skiprows=4)
        df_DEU = df_DEU.T
        df_DEU.columns = df_DEU.iloc[2]
        df_DEU = df_DEU.iloc[4:]
        df_DEU = df_DEU[['GDP (current US$)','CO2 emissions (metric tons per capita)','Population, total','Life expectancy at birth, total (years)','GNI (current US$)','Time required to start a business (days)','School enrollment, primary (% gross)','Foreign direct investment, net inflows (BoP, current US$)','Improved sanitation facilities (% of population with access)']]
        renaming_dict = { 
            'GDP (current US$)': 'GDP', 
            'CO2 emissions (metric tons per capita)': 'CO2_emissions', 
            'Population, total': 'Population_total',
            'Life expectancy at birth, total (years)': 'Life_expectancy',
            'GNI (current US$)': 'GNI',
            'Time required to start a business (days)': 'Time_required_to_start_a_business',
            'School enrollment, primary (% gross)': 'School_enrollment',
            'Foreign direct investment, net inflows (BoP, current US$)': 'Net_Foreign_Direct_Investment',
            'Improved sanitation facilities (% of population with access)': 'Improved_Sanitation_Facilities'
        }
        df_DEU.rename(columns=renaming_dict, inplace=True)
        df_DEU = df_DEU.drop(['Unnamed: 62'])
        df_DEU['Year']=df_DEU.index
        
        df_DEU.reset_index(drop=True,inplace=True)
        df_DEU['Country_Name']='Germany'
        #df_CHN = df_CHN.set_index('Year')
        #df_CHN.rename(columns={'Indicator Name': 'A'})
df_DEU

In [ ]:
df_DEU.dtypes

In [ ]:
df_DEU["GDP"] = pd.to_numeric(df_DEU["GDP"])
df_DEU["CO2_emissions"] = pd.to_numeric(df_DEU["CO2_emissions"])
df_DEU["Population_total"] = pd.to_numeric(df_DEU["Population_total"])
df_DEU["Life_expectancy"] = pd.to_numeric(df_DEU["Life_expectancy"])
df_DEU["GNI"] = pd.to_numeric(df_DEU["GNI"])
df_DEU["Time_required_to_start_a_business"] = pd.to_numeric(df_DEU["Time_required_to_start_a_business"])
df_DEU["School_enrollment"] = pd.to_numeric(df_DEU["School_enrollment"])
df_DEU["Net_Foreign_Direct_Investment"] = pd.to_numeric(df_DEU["Net_Foreign_Direct_Investment"])
df_DEU["Improved_Sanitation_Facilities"] = pd.to_numeric(df_DEU["Improved_Sanitation_Facilities"])
df_DEU['Year'] = pd.to_datetime(df_DEU['Year'], format='%Y')
df_DEU['Country_Name'] = pd.Categorical(df_DEU['Country_Name'])

In [ ]:
df_DEU.dtypes

In [ ]:
engine.execute('DROP TABLE IF EXISTS Germany')

In [ ]:
df_DEU.to_sql('Germany', engine, if_exists ='replace')

In [ ]:
DEU_check = pd.read_sql("SELECT * FROM Germany LIMIT 100", con=engine)
DEU_check

In [ ]:
import zipfile
import pandas as pd
with zipfile.ZipFile("ARG.zip") as z2:
    with z2.open("API_ARG_DS2_en_csv_v2.csv") as f2:
        df_ARG = pd.read_csv(f2, header=0, delimiter=",", skiprows=4)
        df_ARG = df_ARG.T
        df_ARG.columns = df_ARG.iloc[2]
        df_ARG = df_ARG.iloc[4:]
        df_ARG = df_ARG[['GDP (current US$)','CO2 emissions (metric tons per capita)','Population, total','Life expectancy at birth, total (years)','GNI (current US$)','Time required to start a business (days)','School enrollment, primary (% gross)','Foreign direct investment, net inflows (BoP, current US$)','Improved sanitation facilities (% of population with access)']]
        renaming_dict = { 
            'GDP (current US$)': 'GDP', 
            'CO2 emissions (metric tons per capita)': 'CO2_emissions', 
            'Population, total': 'Population_total',
            'Life expectancy at birth, total (years)': 'Life_expectancy',
            'GNI (current US$)': 'GNI',
            'Time required to start a business (days)': 'Time_required_to_start_a_business',
            'School enrollment, primary (% gross)': 'School_enrollment',
            'Foreign direct investment, net inflows (BoP, current US$)': 'Net_Foreign_Direct_Investment',
            'Improved sanitation facilities (% of population with access)': 'Improved_Sanitation_Facilities'
        }
        df_ARG.rename(columns=renaming_dict, inplace=True)
        df_ARG = df_ARG.drop(['Unnamed: 62'])
        df_ARG['Year']=df_ARG.index
        
        df_ARG.reset_index(drop=True,inplace=True)
        df_ARG['Country_Name']='Argentina'
        
df_ARG

In [ ]:
df_ARG.dtypes

In [ ]:
df_ARG["GDP"] = pd.to_numeric(df_ARG["GDP"])
df_ARG["CO2_emissions"] = pd.to_numeric(df_ARG["CO2_emissions"])
df_ARG["Population_total"] = pd.to_numeric(df_ARG["Population_total"])
df_ARG["Life_expectancy"] = pd.to_numeric(df_ARG["Life_expectancy"])
df_ARG["GNI"] = pd.to_numeric(df_ARG["GNI"])
df_ARG["Time_required_to_start_a_business"] = pd.to_numeric(df_ARG["Time_required_to_start_a_business"])
df_ARG["School_enrollment"] = pd.to_numeric(df_ARG["School_enrollment"])
df_ARG["Net_Foreign_Direct_Investment"] = pd.to_numeric(df_ARG["Net_Foreign_Direct_Investment"])
df_ARG["Improved_Sanitation_Facilities"] = pd.to_numeric(df_ARG["Improved_Sanitation_Facilities"])
df_ARG['Year'] = pd.to_datetime(df_ARG['Year'], format='%Y')
df_ARG['Country_Name'] = pd.Categorical(df_ARG['Country_Name'])

In [ ]:
df_ARG.dtypes

In [ ]:
engine.execute('DROP TABLE IF EXISTS Argentina')

In [ ]:
df_ARG.to_sql('Argentina', engine, if_exists ='replace')

In [ ]:
ARG_check = pd.read_sql("SELECT * FROM Argentina LIMIT 100", con=engine)
ARG_check

In [ ]:
import zipfile
import pandas as pd
with zipfile.ZipFile("BTN.zip") as z2:
    with z2.open("API_BTN_DS2_en_csv_v2.csv") as f2:
        df_BTN = pd.read_csv(f2, header=0, delimiter=",", skiprows=4)
        df_BTN = df_BTN.T
        df_BTN.columns = df_BTN.iloc[2]
        df_BTN = df_BTN.iloc[4:]
        df_BTN = df_BTN[['GDP (current US$)','CO2 emissions (metric tons per capita)','Population, total','Life expectancy at birth, total (years)','GNI (current US$)','Time required to start a business (days)','School enrollment, primary (% gross)','Foreign direct investment, net inflows (BoP, current US$)','Improved sanitation facilities (% of population with access)']]
        renaming_dict = { 
            'GDP (current US$)': 'GDP', 
            'CO2 emissions (metric tons per capita)': 'CO2_emissions', 
            'Population, total': 'Population_total',
            'Life expectancy at birth, total (years)': 'Life_expectancy',
            'GNI (current US$)': 'GNI',
            'Time required to start a business (days)': 'Time_required_to_start_a_business',
            'School enrollment, primary (% gross)': 'School_enrollment',
            'Foreign direct investment, net inflows (BoP, current US$)': 'Net_Foreign_Direct_Investment',
            'Improved sanitation facilities (% of population with access)': 'Improved_Sanitation_Facilities'
        }
        df_BTN.rename(columns=renaming_dict, inplace=True)
        df_BTN = df_BTN.drop(['Unnamed: 62'])
        df_BTN['Year']=df_BTN.index
        
        df_BTN.reset_index(drop=True,inplace=True)
        df_BTN['Country_Name']='Buhtan'
        #df_CHN = df_CHN.set_index('Year')
        #df_CHN.rename(columns={'Indicator Name': 'A'})
df_BTN

In [ ]:
df_BTN.dtypes

In [ ]:
df_BTN["GDP"] = pd.to_numeric(df_BTN["GDP"])
df_BTN["CO2_emissions"] = pd.to_numeric(df_BTN["CO2_emissions"])
df_BTN["Population_total"] = pd.to_numeric(df_BTN["Population_total"])
df_BTN["Life_expectancy"] = pd.to_numeric(df_BTN["Life_expectancy"])
df_BTN["GNI"] = pd.to_numeric(df_BTN["GNI"])
df_BTN["Time_required_to_start_a_business"] = pd.to_numeric(df_BTN["Time_required_to_start_a_business"])
df_BTN["School_enrollment"] = pd.to_numeric(df_BTN["School_enrollment"])
df_BTN["Net_Foreign_Direct_Investment"] = pd.to_numeric(df_BTN["Net_Foreign_Direct_Investment"])
df_BTN["Improved_Sanitation_Facilities"] = pd.to_numeric(df_BTN["Improved_Sanitation_Facilities"])
df_BTN['Year'] = pd.to_datetime(df_BTN['Year'], format='%Y')
df_BTN['Country_Name'] = pd.Categorical(df_BTN['Country_Name'])

In [ ]:
df_BTN.dtypes

In [ ]:
engine.execute('DROP TABLE IF EXISTS Bhutan')

In [ ]:
df_BTN.to_sql('Bhutan', engine, if_exists ='replace')

In [ ]:
BTN_check = pd.read_sql("SELECT * FROM Bhutan LIMIT 100", con=engine)
BTN_check

In [ ]:
import zipfile
import pandas as pd
with zipfile.ZipFile("RUS.zip") as z2:
    with z2.open("API_RUS_DS2_en_csv_v2.csv") as f2:
        df_RUS = pd.read_csv(f2, header=0, delimiter=",", skiprows=4)
        df_RUS = df_RUS.T
        df_RUS.columns = df_RUS.iloc[2]
        df_RUS = df_RUS.iloc[4:]
        df_RUS = df_RUS[['GDP (current US$)','CO2 emissions (metric tons per capita)','Population, total','Life expectancy at birth, total (years)','GNI (current US$)','Time required to start a business (days)','School enrollment, primary (% gross)','Foreign direct investment, net inflows (BoP, current US$)','Improved sanitation facilities (% of population with access)']]
        renaming_dict = { 
            'GDP (current US$)': 'GDP', 
            'CO2 emissions (metric tons per capita)': 'CO2_emissions', 
            'Population, total': 'Population_total',
            'Life expectancy at birth, total (years)': 'Life_expectancy',
            'GNI (current US$)': 'GNI',
            'Time required to start a business (days)': 'Time_required_to_start_a_business',
            'School enrollment, primary (% gross)': 'School_enrollment',
            'Foreign direct investment, net inflows (BoP, current US$)': 'Net_Foreign_Direct_Investment',
            'Improved sanitation facilities (% of population with access)': 'Improved_Sanitation_Facilities'
        }
        df_RUS.rename(columns=renaming_dict, inplace=True)
        df_RUS = df_RUS.drop(['Unnamed: 62'])
        df_RUS['Year']=df_RUS.index
        
        df_RUS.reset_index(drop=True,inplace=True)
        df_RUS['Country_Name']='Russia'
        #df_CHN = df_CHN.set_index('Year')
        #df_CHN.rename(columns={'Indicator Name': 'A'})
df_RUS

In [ ]:
df_RUS.dtypes

In [ ]:
df_RUS["GDP"] = pd.to_numeric(df_RUS["GDP"])
df_RUS["CO2_emissions"] = pd.to_numeric(df_RUS["CO2_emissions"])
df_RUS["Population_total"] = pd.to_numeric(df_RUS["Population_total"])
df_RUS["Life_expectancy"] = pd.to_numeric(df_RUS["Life_expectancy"])
df_RUS["GNI"] = pd.to_numeric(df_RUS["GNI"])
df_RUS["Time_required_to_start_a_business"] = pd.to_numeric(df_RUS["Time_required_to_start_a_business"])
df_RUS["School_enrollment"] = pd.to_numeric(df_RUS["School_enrollment"])
df_RUS["Net_Foreign_Direct_Investment"] = pd.to_numeric(df_RUS["Net_Foreign_Direct_Investment"])
df_RUS["Improved_Sanitation_Facilities"] = pd.to_numeric(df_RUS["Improved_Sanitation_Facilities"])
df_RUS['Year'] = pd.to_datetime(df_RUS['Year'], format='%Y')
df_RUS['Country_Name'] = pd.Categorical(df_RUS['Country_Name'])

In [ ]:
df_RUS.dtypes

In [ ]:
engine.execute('DROP TABLE IF EXISTS Russia')

In [ ]:
df_RUS.to_sql('Russia', engine, if_exists ='replace')

In [ ]:
RUS_check = pd.read_sql("SELECT * FROM Russia LIMIT 100", con=engine)
RUS_check

In [ ]:
import zipfile
import pandas as pd
with zipfile.ZipFile("JPN.zip") as z2:
    with z2.open("API_JPN_DS2_en_csv_v2.csv") as f2:
        df_JPN = pd.read_csv(f2, header=0, delimiter=",", skiprows=4)
        df_JPN = df_JPN.T
        df_JPN.columns = df_JPN.iloc[2]
        df_JPN = df_JPN.iloc[4:]
        df_JPN = df_JPN[['GDP (current US$)','CO2 emissions (metric tons per capita)','Population, total','Life expectancy at birth, total (years)','GNI (current US$)','Time required to start a business (days)','School enrollment, primary (% gross)','Foreign direct investment, net inflows (BoP, current US$)','Improved sanitation facilities (% of population with access)']]
        renaming_dict = { 
            'GDP (current US$)': 'GDP', 
            'CO2 emissions (metric tons per capita)': 'CO2_emissions', 
            'Population, total': 'Population_total',
            'Life expectancy at birth, total (years)': 'Life_expectancy',
            'GNI (current US$)': 'GNI',
            'Time required to start a business (days)': 'Time_required_to_start_a_business',
            'School enrollment, primary (% gross)': 'School_enrollment',
            'Foreign direct investment, net inflows (BoP, current US$)': 'Net_Foreign_Direct_Investment',
            'Improved sanitation facilities (% of population with access)': 'Improved_Sanitation_Facilities'
        }
        df_JPN.rename(columns=renaming_dict, inplace=True)
        df_JPN = df_JPN.drop(['Unnamed: 62'])
        df_JPN['Year']=df_JPN.index
        
        df_JPN.reset_index(drop=True,inplace=True)
        df_JPN['Country_Name']='Japan'
df_JPN

In [ ]:
df_JPN.dtypes

In [ ]:
df_JPN["GDP"] = pd.to_numeric(df_JPN["GDP"])
df_JPN["CO2_emissions"] = pd.to_numeric(df_JPN["CO2_emissions"])
df_JPN["Population_total"] = pd.to_numeric(df_JPN["Population_total"])
df_JPN["Life_expectancy"] = pd.to_numeric(df_JPN["Life_expectancy"])
df_JPN["GNI"] = pd.to_numeric(df_JPN["GNI"])
df_JPN["Time_required_to_start_a_business"] = pd.to_numeric(df_JPN["Time_required_to_start_a_business"])
df_JPN["School_enrollment"] = pd.to_numeric(df_JPN["School_enrollment"])
df_JPN["Net_Foreign_Direct_Investment"] = pd.to_numeric(df_JPN["Net_Foreign_Direct_Investment"])
df_JPN["Improved_Sanitation_Facilities"] = pd.to_numeric(df_JPN["Improved_Sanitation_Facilities"])
df_JPN['Year'] = pd.to_datetime(df_JPN['Year'], format='%Y')
df_JPN['Country_Name'] = pd.Categorical(df_JPN['Country_Name'])

In [ ]:
df_JPN.dtypes

In [ ]:
engine.execute('DROP TABLE IF EXISTS Japan')

In [ ]:
df_JPN.to_sql('Japan', engine, if_exists ='replace')

In [ ]:
JPN_check = pd.read_sql("SELECT * FROM Japan LIMIT 100", con=engine)
JPN_check

## Part 2: Data Processing

Query 1: Time needed to start a business varying counbtry-by-country for the last 5 years (2013 -2017)

In [ ]:
Bus_Start_v_USA = pd.read_sql('''SELECT US.Year, sum(US.Time_required_to_start_a_business) AS US_Business_Start_Time, 
sum(B.Time_required_to_start_a_business) AS Bhutan_Business_Start_Time, sum(C.Time_required_to_start_a_business) AS China_Business_Start_Time, 
sum(G.Time_required_to_start_a_business) AS Germany_Business_Start_Time, sum(A.Time_required_to_start_a_business) AS Argentina_Business_Start_Time, 
sum(J.Time_required_to_start_a_business) AS Japan_Business_Start_Time, sum(R.Time_required_to_start_a_business) AS Russia_Business_Start_Time, 
sum(GH.Time_required_to_start_a_business) AS Ghana_Business_Start_Time
FROM Argentina A inner join Bhutan B ON A.Year=B.Year 
inner join China C on C.Year=A.Year
inner join Germany G ON G.Year = A.Year
inner join Japan J ON J.Year = A.Year
inner join Russia R ON R.Year=A.Year
inner join USA US ON US.Year=A.Year
inner join Ghana GH ON GH.Year=A.Year
Group By US.Year;''',con=engine)
Bus_Start_v_USA.iloc[-5:].set_index('Year').plot(kind='bar', figsize=(30,10))

Query 2: C02 emissions per capita and GDP per capita plotted against each other for all the countries. Each point plotted is a year for which both metrics for the country are avaliable.

In [ ]:
GDP_PER_CAPITA_CO2 = pd.read_sql('''SELECT u.Year, u.GDP / u.Population_total AS 'USA GDP PER CAPITA', u.CO2_emissions AS 'USA C02 EMISSIONS PER CAPITA', d.GDP / d.Population_total AS 'GERMANY GDP PER CAPITA', d.CO2_emissions AS 'GERMANY C02 EMISSIONS PER CAPITA', a.GDP / a.Population_total AS 'ARGENTINA GDP PER CAPITA', a.CO2_emissions AS 'ARGENTINA C02 EMISSIONS PER CAPITA', b.GDP / b.Population_total AS 'BHUTAN GDP PER CAPITA', b.CO2_emissions AS 'BHUTAN C02 EMISSIONS PER CAPITA', r.GDP / r.Population_total AS 'RUSSIA GDP PER CAPITA', r.CO2_emissions AS 'RUSSIA C02 EMISSIONS PER CAPITA', c.GDP / c.Population_total AS 'CHINA GDP PER CAPITA', c.CO2_emissions AS 'CHINA C02 EMISSIONS PER CAPITA', j.GDP / j.Population_total AS 'JAPAN GDP PER CAPITA', j.CO2_emissions AS 'JAPAN C02 EMISSIONS PER CAPITA', g.GDP / g.Population_total AS 'GHANA GDP PER CAPITA', g.CO2_emissions AS 'GHANA C02 EMISSIONS PER CAPITA'                    
FROM USA u 
JOIN Germany d 
ON u.Year = d.Year 
JOIN Argentina a 
ON u.Year = a.Year 
JOIN Bhutan b 
ON u.Year = b.Year 
JOIN Russia r 
ON u.Year = r.Year 
JOIN China c 
ON u.Year = c.Year 
JOIN Japan j 
ON u.Year = j.Year
JOIN Ghana g
ON u.Year = g.Year
''', con=engine)

In [ ]:
ax = GDP_PER_CAPITA_CO2.plot(kind='scatter', x='USA GDP PER CAPITA', y='USA C02 EMISSIONS PER CAPITA', color = 'Blue', label = 'USA')
GDP_PER_CAPITA_CO2.plot(kind='scatter', x='GERMANY GDP PER CAPITA', y='GERMANY C02 EMISSIONS PER CAPITA', color = 'Orange', label = 'Germany', ax=ax)
GDP_PER_CAPITA_CO2.plot(kind='scatter', x='ARGENTINA GDP PER CAPITA', y='ARGENTINA C02 EMISSIONS PER CAPITA', color = 'Red', label = 'Argentina', ax=ax)
GDP_PER_CAPITA_CO2.plot(kind='scatter', x='BHUTAN GDP PER CAPITA', y='BHUTAN C02 EMISSIONS PER CAPITA',color = 'Purple', label = 'Bhutan', ax=ax)
GDP_PER_CAPITA_CO2.plot(kind='scatter', x='CHINA GDP PER CAPITA', y='CHINA C02 EMISSIONS PER CAPITA', color = 'Pink', label = 'China', ax=ax)
GDP_PER_CAPITA_CO2.plot(kind='scatter', x='JAPAN GDP PER CAPITA', y='JAPAN C02 EMISSIONS PER CAPITA', color = 'Green', label = 'Japan', ax=ax)
GDP_PER_CAPITA_CO2.plot(kind='scatter', x='GHANA GDP PER CAPITA', y='GHANA C02 EMISSIONS PER CAPITA', color = 'Black', label = 'Ghana', ax=ax)
GDP_PER_CAPITA_CO2.plot(kind='scatter', x='RUSSIA GDP PER CAPITA', y='RUSSIA C02 EMISSIONS PER CAPITA', color = 'Indigo', label = 'Russia',ax=ax)
ax.set_xlabel("GDP per capita")
ax.set_ylabel("CO2 emissions per capita")

Below are correlations between C02 per capita and GDP per capita

In [ ]:
GDP_PER_CAPITA_CO2_CORR = GDP_PER_CAPITA_CO2.corr()

In [ ]:
GDP_PER_CAPITA_CO2_CORR

Query 3: Average NFDI in Billions, Average Percent of Improved Sanitaion Fascilities and Average Percent School Enrollment for all countries for all years avaliable.

In [ ]:
FDI_Effects = FDI_Effects = pd.read_sql('''SELECT Country_Name AS 'Country Name', AVG(Net_Foreign_Direct_Investment) / 1000000000 AS 'NFDI in Billions', AVG(Improved_Sanitation_Facilities) AS 'Percent of Improved Sanitaion Fascilities', AVG(School_enrollment) AS 'Percent School Enrollment'                   
FROM USA
GROUP BY Country_Name
UNION
SELECT Country_Name AS 'Country Name', AVG(Net_Foreign_Direct_Investment) / 1000000000 AS 'NFDI in Billions', AVG(Improved_Sanitation_Facilities) AS 'Percent of Improved Sanitaion Fascilities', AVG(School_enrollment) AS 'Percent School Enrollment'FROM Germany
GROUP BY Country_Name
UNION
SELECT Country_Name AS 'Country Name', AVG(Net_Foreign_Direct_Investment) / 1000000000 AS 'NFDI in Billions', AVG(Improved_Sanitation_Facilities) AS 'Percent of Improved Sanitaion Fascilities', AVG(School_enrollment) AS 'PercentSchool Enrollment'
FROM Argentina
GROUP BY Country_Name
UNION
SELECT Country_Name AS 'Country Name', AVG(Net_Foreign_Direct_Investment) / 1000000000 AS 'NFDI in Billions', AVG(Improved_Sanitation_Facilities) AS 'Percent of Improved Sanitaion Fascilities', AVG(School_enrollment) AS 'Percent School Enrollment'
FROM Bhutan
GROUP BY Country_Name
UNION
SELECT Country_Name AS 'Country Name', AVG(Net_Foreign_Direct_Investment) / 1000000000 AS 'NFDI in Billions', AVG(Improved_Sanitation_Facilities) AS 'Percent of Improved Sanitaion Fascilities', AVG(School_enrollment) AS 'Percent School Enrollment'
FROM China
GROUP BY Country_Name
UNION
SELECT Country_Name AS 'Country Name', AVG(Net_Foreign_Direct_Investment) / 1000000000 AS 'NFDI in Billions', AVG(Improved_Sanitation_Facilities) AS 'Percent of Improved Sanitaion Fascilities', AVG(School_enrollment) AS 'Percent School Enrollment'
FROM Japan
GROUP BY Country_Name
UNION
SELECT Country_Name AS 'Country Name', AVG(Net_Foreign_Direct_Investment) / 1000000000 AS 'NFDI in Billions', AVG(Improved_Sanitation_Facilities) AS 'Percent of Improved Sanitaion Fascilities', AVG(School_enrollment) AS 'Percent School Enrollment'
FROM Ghana
GROUP BY Country_Name
UNION
SELECT Country_Name AS 'Country Name', AVG(Net_Foreign_Direct_Investment) / 1000000000 AS 'NFDI in Billions', AVG(Improved_Sanitation_Facilities) AS 'Percent of Improved Sanitaion Fascilities', AVG(School_enrollment) AS 'Percent School Enrollment'
FROM Russia
GROUP BY Country_Name''', con=engine)


FDI_Effects

In [ ]:
FDI_Effects.plot(kind='bar', x='Country Name', figsize=(15,10))